.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 h2 {
    margin: 0 0 10px 0;
    text-align: left;
}

.section3Images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #609966;
}

.section3Images img {
    margin: 0 0 10px 0;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .section3 {
        flex-direction: column;
        border-bottom: solid 2px #609966;
    }

    .section3 h2 {
        text-align: center;
        margin: 20px 0 20px 0;
    }

    .section3Images {
        flex-direction: row;   
        gap: 40px; 
        margin-bottom: 40px;
        border-bottom: none;
    }

    .section3Images img {
        transition: transform 1s;
    }

    .section3Images img:hover {
        transform: scale(1.07);
        transition: transform 1s;
    }
}